<a href="https://colab.research.google.com/github/SujinAhn21/Sujin-Ahn/blob/main/%EC%A1%B0%EB%B3%84%EA%B3%BC%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
# 0. 사용할 패키지 불러오기
import numpy as np
from keras.models import Sequential
from keras.layers import Dense

In [32]:
# 1-1. 디렉토리 확인
import os
os.getcwd()

'/content'

In [39]:
# 1-2. 데이터셋 생성 후 파일 불러오기
import pandas as pd
x_train=pd.read_csv('x_train.csv', sep=',', header=None)
y_train=pd.read_csv('y_train.csv', sep=',', header=None)
x_test=pd.read_csv('x_test.csv', sep=',', header=None)
y_test=pd.read_csv('y_test.csv', sep=',', header=None)

In [40]:
# 1-.3 데이터 건수 및 기초통계량 확인하기
x_train.describe()

                 0             1            2          3
count    16.000000     16.000000    16.000000  16.000000
mean   1663.937500  10785.480625  1431.718750   3.084250
std      33.847065    266.831162     7.153015   0.088745
min    1627.300000  10342.940000  1420.000000   2.784000
25%    1643.650000  10602.260000  1426.625000   3.071750
50%    1651.900000  10826.195000  1433.000000   3.096000
75%    1673.500000  10975.280000  1436.500000   3.128250
max    1750.300000  11199.120000  1442.500000   3.190000

In [41]:
y_train.describe()

                0
count          16
unique         16
top     15,886.90
freq            1

In [42]:
x_test.describe()

                 0             1            2         3
count     7.000000      7.000000     7.000000  7.000000
mean   1656.314286  10543.447143  1396.071429  3.016286
std      18.174288    163.367587    24.927275  0.040962
min    1627.500000  10321.390000  1365.000000  2.977000
25%    1645.350000  10421.645000  1375.250000  2.989000
50%    1657.000000  10542.100000  1398.000000  2.993000
75%    1670.150000  10662.475000  1416.000000  3.038000
max    1678.700000  10772.400000  1427.000000  3.090000

In [43]:
y_test.describe()

                0
count           7
unique          7
top     19,328.20
freq            1

In [44]:
# 2. 모델 구성하기
model = Sequential()
model.add(Dense(1, input_dim=4))

In [45]:
# 3. 모델 학습과정 설정하기
model.compile(optimizer='rmsprop', loss='mse')

In [48]:
# 4. 모델 학습시키기
hist = model.fit(x_train, y_train, epochs=200, batch_size=64)
w, b = model.get_weights()

Epoch 1/200

UnimplementedError: ignored

In [ ]:
# 5. 학습과정 살펴보기
%matplotlib inline
import matplotlib.pyplot as plt
plt.plot(hist.history['loss'])
plt.ylim(0.0, 1.5)
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train'], loc='upper left')
plt.show()

In [ ]:
# 6. 모델 평가하기
loss = model.evaluate(x_test, y_test, batch_size=32)
print(‘loss :’ , str(loss))